config/
.htaccess
admin466ynubcw/

/cache/*
!/cache/index.php
!/cache/*/
/cache/*/*
!/cache/cachefs/index.php
!/cache/purifier/index.php
!/cache/push/index.php
!/cache/sandbox/index.php
!/cache/smarty/index.php
!/cache/tcpdf/index.php
config/xml/*.xml
/log/*
*sitemap.xml
themes/*/cache/
modules/*/config*.xml

app/

c*

.eslintrc.json
.gitignore.swp
INSTALL.txt
Install_PrestaShop.html
LICENSES
autoload.php
bin/
docker-compose.yml
docs/
download/
error500.html
images.inc.php
img/
index.php
init.php
js/
localization/
mails/
pdf/
robots.txt
src/
testree.sql
tools/
translations/
var/
vendor/
webservice/


